<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <h3>LOGO</h3>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 link-body-emphasis">Book</a></li>
          <li><a href="#" class="nav-link px-2 link-body-emphasis">Feature</a></li>
          <li><a href="#" class="nav-link px-2 link-body-emphasis">Service</a></li>
        </ul>
        
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 text-end">
          <li><a (click)="login()" class="nav-link px-2 link-body-emphasis">Login</a></li>
          <li><a href="#" class="nav-link px-2 link-body-emphasis">Log out</a></li>
        </ul>
      </div>
    </div>
  </header>