<div class="header-transparent">
    <div class="container">
      <div class="nav-header">
        <div class="logo">
          <img src="../../../../assets/images/logo.svg" class="w-50" alt="" />
        </div>
        <nav class="nav-link">
          <ul class="d-flex align-items-center">
            <li><a lass="nav-item" routerLink="/Home" class="active">Home</a></li>
            <li><a lass="nav-item" routerLink="/Book" class="">Book</a></li>
            <li><a lass="nav-item" routerLink="/Home" class="">Feature</a></li>
            <li><a lass="nav-item" routerLink="/Home" class="">Services</a></li>
          </ul>
        </nav>

        <div class="hp-extra-nav d-flex align-items-center">
          <div class="coustom-select d-md-block d-none">
            <select
              class="form-control custom-image-select-2 image-select mt-3 mt-sm-0"
            >
              <option data-thumbnail="../../../../assets/images/india.svg">India</option>
              <option data-thumbnail="../../../../assets/images/england.svg">England</option>
              <option data-thumbnail="../../../../assets/images/united-arab-emirates.svg">
                UAE
              </option>
            </select>
          </div>

          <a href="" routerLink="/Auth/Login" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#exampleModal-login">Login<svg class="ms-2" width="8" height="12"
                        viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.34766 1.5L6.34766 6L1.34766 10.5" stroke="white" stroke-width="2"
                            stroke-linecap="round" />
                    </svg>
                </a>
        </div>
        <!-- Header Nav -->
        <!-- Nav Toggle Button -->
        <button
          class="navbar-hp-toggler ms-3 collapsed navicon justify-content-end"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div
          class="header-hp-nav navbar-collapse collapse justify-content-end"
          id="navbarNavDropdown"
        >
          <div class="logo-header">
            <a href="index.html" class="logo"
              ><img src="../../../../assets/images/logo.svg" alt=""
            /></a>
          </div>
          <ul class="nav navbar-nav navbar navbar-left">
            <li><a href="index.html">Home</a></li>
            <li><a href="about-us.html">About Us</a></li>
            <li><a href="about-us.html">About Us</a></li>
            <li><a href="contact-us.html">Contact Us</a></li>
          </ul>
          <div class="coustom-select d-md-none d-block p-3">
            <select
              class="form-control custom-image-select-2 image-select mt-3 mt-sm-0"
            >
              <option data-thumbnail="../../../../assets/images/india.svg">India</option>
              <option data-thumbnail="../../../../assets/images/england.svg">England</option>
              <option data-thumbnail="../../../../assets/images/united-arab-emirates.svg">
                UAE
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>