<div class="main-bnr position-relative p-0">
    <div class="vh-100  hp-overly" style="background-image: url('../../../../assets/images/login.png');  background-repeat: repeat; background-size: cover;">
        <div class="container login-wrapper">
            <!-- login-section-start -->
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8">
                        <div class="login-box">
                            <div class="text-center text-white">
                                <h2 class="text-white">Login</h2>
                                 <p>Please Enter Your Account Details </p>
                            </div>
                            <form action="">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-box">
                                            <label for="exampleFormControlInput1" class="form-label text-white">First Name</label>
                                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="John">
                                        </div>
                                        <div class=" mb-3 position-relative">
                                            <label for="password" class="form-label text-white">Password</label>
                                            <input type="password" id="password" class="form-control" id="exampleFormControlInput2" value="123456">
                                            <span class="show-eye-icon">
                                                <i class="fa fa-eye-slash"></i>
                                                <i class="fa fa-eye"></i>
                                            </span>
                                        </div>
                                        <div class="text-end">
                                            <a href="javascript:void(0);" class="text-white">Forgot Password?</a>
                                        </div>
                                        <button type="button" class="btn btn-dark btn-block">Sign In</button>
                                        <div class="login-via-bx">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);" ><i class="fa-brands fa-google-plus-g"></i></a>
                                                </li>
                                                <li class="mx-3">
                                                    <a href="javascript:void(0);" ><i class="fa-brands fa-apple"></i></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" ><i class="fa-solid fa-envelope"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="text-end mt-sm-4 mt-3">
                                            <a href="" routerLink="/Auth/Register" class="text-white text-decoration-underline">Create A Account</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            <!-- login-section-end -->

        </div>
    </div>
</div>