<div class="main-bnr  position-relative p-0" id="qro-banner">
    <div class="banner-inner pt-0">
        <!-- booked-venus-banner-strat -->
            <div class="vh-100 min-height600 hp-overly" style="background-image: url('../../../../assets/images/book/2.jpg'); background-repeat: repeat; background-size: cover;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="book-banner-content">
                                <h1>Discover and Book Top <br> <span class="mask1">Spo</span>rts Complexes in Jaipu<span class="mask1 style-1">r</span> Online</h1>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <div class="banner-serach style-1 wow fadeInUp animated" >
                                                    <div class="input-group flex-nowrap" data-wow-delay="0.5s">
                                                        <input type="text" class="form-control border-end-0" placeholder="Search Here...">
                                                        <span class="input-group-text border-start-0" id="addon-wrapping">
                                                            <img src="../../../../assets/images/search.svg" alt=""> 
                                                        </span>
                                                    </div>
                                                 </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm">
                                                <select class="hp-default-select" aria-label="Default select example">
                                                    <option selected>All Sports</option>
                                                    <option value="1">Cricket</option>
    
                                                  </select>
                                                  
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-6">
                                        <!-- empty-coloum -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--booked-venus-banner-strat-->
    </div>
</div>

<!-- popular-menu-strat -->
<section class="section-padding book-section">
    <div class="section-title wow fadeInUp animated">
        <h2>Most popular Venus</h2>
        <p>A brief introduction to Venus Stadium, its significance, and its impact on the cricketing world.</p>
    </div>
    <div class="container">
        <div class="row mb-5">
                <div class="col-lg-5 col-md-5 align-self-center">
                    <h3 class="title-sm mb-md-0 mb-3">556 Sports Venues In Jaipur, Rajasthan</h3>
                </div>
                <div class="col-lg-7 col-md-7 ">
                    <div class="main-tab">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Venues (306)</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Coaching(0)</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Events(2)</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="contact-tab-1" data-bs-toggle="tab" data-bs-target="#contact-tab-pane-1" type="button" role="tab" aria-controls="contact-tab-pane-1" aria-selected="false">Deals(0)</button>
                              </li>
                           
                          </ul>
                         
                    </div>
                </div>
       
        <!-- <div class="d-flex align-items-center justify-content-between mb-5"> -->
           
            
        </div>
        <div>
            <div class="tab-content" id="myTabContent">
                <!-- Venues -->
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                    <div class="row">
                        <div class="col-xl-4 col-sm-6">
                            <!-- firt-venus-strat -->
                            <div class="book-bx">
                                <div class="book-media">
                                    <img src="../../../../assets/images/book/1.jpg" alt="">
                                    <div class="feature-badge">Feature</div>
                                </div>
                                <div class="book-content">
                                   <div class="d-flex align-items-center mb-3">
                                        <img src="../../../../assets/images/loaction.svg" class="me-2" alt="">
                                        <h6 class="mb-0">Pinkcity Sports Academy</h6>
                                        <div class="d-flex align-items-center ms-auto">
                                            <img src="../../../../assets/images/discount.svg" alt="">
                                            <h6 class="mb-0 ms-2">20% OFF</h6>
                                        </div>
                                        
                                   </div>
                                   <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <h6 class="mb-0">Rating</h6>
                                            <ul class="d-flex align-items-center">
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                            </ul>
                                        </div>
                                        <div class="text-end">
                                            <h6 class="mb-0">$600</h6>
                                            <small class="mb-0">Onwards</small>
                                        </div>
                                   </div>
                                   <div class="feature-btn">
                                    <a href="javascript:void(0);" class="btn-white">Read More</a>
                                   </div>
                                </div>
                            </div>
                            <!-- firt-venus-end -->
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <!-- firt-venus-strat -->
                            <div class="book-bx">
                                <div class="book-media">
                                    <img src="../../../../assets/images/book/1.jpg" alt="">
                                    <div class="feature-badge">Feature</div>
                                </div>
                                <div class="book-content">
                                   <div class="d-flex align-items-center mb-3">
                                        <img src="../../../../assets/images/loaction.svg" class="me-2" alt="">
                                        <h6 class="mb-0">Pinkcity Sports Academy</h6>
                                        <div class="d-flex align-items-center ms-auto">
                                            <img src="../../../../assets/images/discount.svg" alt="">
                                            <h6 class="mb-0 ms-2">20% OFF</h6>
                                        </div>
                                        
                                   </div>
                                   <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <h6 class="mb-0">Rating</h6>
                                            <ul class="d-flex align-items-center">
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                            </ul>
                                        </div>
                                        <div class="text-end">
                                            <h6 class="mb-0">$600</h6>
                                            <small class="mb-0">Onwards</small>
                                        </div>
                                   </div>
                                   <div class="feature-btn">
                                    <a href="javascript:void(0);" class="btn-white">Read More</a>
                                   </div>
                                </div>
                            </div>
                            <!-- firt-venus-end -->
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <!-- firt-venus-strat -->
                            <div class="book-bx">
                                <div class="book-media">
                                    <img src="../../../../assets/images/book/1.jpg" alt="">
                                    <div class="feature-badge">Feature</div>
                                </div>
                                <div class="book-content">
                                   <div class="d-flex align-items-center mb-3">
                                        <img src="../../../../assets/images/loaction.svg" class="me-2" alt="">
                                        <h6 class="mb-0">Pinkcity Sports Academy</h6>
                                        <div class="d-flex align-items-center ms-auto">
                                            <img src="../../../../assets/images/discount.svg" alt="">
                                            <h6 class="mb-0 ms-2">20% OFF</h6>
                                        </div>
                                        
                                   </div>
                                   <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <h6 class="mb-0">Rating</h6>
                                            <ul class="d-flex align-items-center">
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                            </ul>
                                        </div>
                                        <div class="text-end">
                                            <h6 class="mb-0">$600</h6>
                                            <small class="mb-0">Onwards</small>
                                        </div>
                                   </div>
                                   <div class="feature-btn">
                                    <a href="javascript:void(0);" class="btn-white">Read More</a>
                                   </div>
                                </div>
                            </div>
                            <!-- firt-venus-end -->
                        </div>
                        <!-- seconda-row-strat -->
                        <div class="col-xl-4 col-sm-6">
                            <!-- firt-venus-strat -->
                            <div class="book-bx">
                                <div class="book-media">
                                    <img src="../../../../assets/images/book/1.jpg" alt="">
                                    <div class="feature-badge">Feature</div>
                                </div>
                                <div class="book-content">
                                   <div class="d-flex align-items-center mb-3">
                                        <img src="../../../../assets/images/loaction.svg" class="me-2" alt="">
                                        <h6 class="mb-0">Pinkcity Sports Academy</h6>
                                        <div class="d-flex align-items-center ms-auto">
                                            <img src="../../../../assets/images/discount.svg" alt="">
                                            <h6 class="mb-0 ms-2">20% OFF</h6>
                                        </div>
                                        
                                   </div>
                                   <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <h6 class="mb-0">Rating</h6>
                                            <ul class="d-flex align-items-center">
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                            </ul>
                                        </div>
                                        <div class="text-end">
                                            <h6 class="mb-0">$600</h6>
                                            <small class="mb-0">Onwards</small>
                                        </div>
                                   </div>
                                   <div class="feature-btn">
                                    <a href="javascript:void(0);" class="btn-white">Read More</a>
                                   </div>
                                </div>
                            </div>
                            <!-- firt-venus-end -->
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <!-- firt-venus-strat -->
                            <div class="book-bx">
                                <div class="book-media">
                                    <img src="../../../../assets/images/book/1.jpg" alt="">
                                    <div class="feature-badge">Feature</div>
                                </div>
                                <div class="book-content">
                                   <div class="d-flex align-items-center mb-3">
                                        <img src="../../../../assets/images/loaction.svg" class="me-2" alt="">
                                        <h6 class="mb-0">Pinkcity Sports Academy</h6>
                                        <div class="d-flex align-items-center ms-auto">
                                            <img src="../../../../assets/images/discount.svg" alt="">
                                            <h6 class="mb-0 ms-2">20% OFF</h6>
                                        </div>
                                        
                                   </div>
                                   <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <h6 class="mb-0">Rating</h6>
                                            <ul class="d-flex align-items-center">
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                            </ul>
                                        </div>
                                        <div class="text-end">
                                            <h6 class="mb-0">$600</h6>
                                            <small class="mb-0">Onwards</small>
                                        </div>
                                   </div>
                                   <div class="feature-btn">
                                    <a href="javascript:void(0);" class="btn-white">Read More</a>
                                   </div>
                                </div>
                            </div>
                            <!-- firt-venus-end -->
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <!-- firt-venus-strat -->
                            <div class="book-bx">
                                <div class="book-media">
                                    <img src="../../../../assets/images/book/1.jpg" alt="">
                                    <div class="feature-badge">Feature</div>
                                </div>
                                <div class="book-content">
                                   <div class="d-flex align-items-center mb-3">
                                        <img src="../../../../assets/images/loaction.svg" class="me-2" alt="">
                                        <h6 class="mb-0">Pinkcity Sports Academy</h6>
                                        <div class="d-flex align-items-center ms-auto">
                                            <img src="../../../../assets/images/discount.svg" alt="">
                                            <h6 class="mb-0 ms-2">20% OFF</h6>
                                        </div>
                                        
                                   </div>
                                   <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <h6 class="mb-0">Rating</h6>
                                            <ul class="d-flex align-items-center">
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                            </ul>
                                        </div>
                                        <div class="text-end">
                                            <h6 class="mb-0">$600</h6>
                                            <small class="mb-0">Onwards</small>
                                        </div>
                                   </div>
                                   <div class="feature-btn">
                                    <a href="javascript:void(0);" class="btn-white">Read More</a>
                                   </div>
                                </div>
                            </div>
                            <!-- firt-venus-end -->
                        </div>
                        <!-- second-row-end -->
                         <!-- thired-row-strart -->
                         <div class="col-xl-4 col-sm-6">
                            <!-- firt-venus-strat -->
                            <div class="book-bx">
                                <div class="book-media">
                                    <img src="../../../../assets/images/book/1.jpg" alt="">
                                    <div class="feature-badge">Feature</div>
                                </div>
                                <div class="book-content">
                                   <div class="d-flex align-items-center mb-3">
                                        <img src="../../../../assets/images/loaction.svg" class="me-2" alt="">
                                        <h6 class="mb-0">Pinkcity Sports Academy</h6>
                                        <div class="d-flex align-items-center ms-auto">
                                            <img src="../../../../assets/images/discount.svg" alt="">
                                            <h6 class="mb-0 ms-2">20% OFF</h6>
                                        </div>
                                        
                                   </div>
                                   <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <h6 class="mb-0">Rating</h6>
                                            <ul class="d-flex align-items-center">
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                            </ul>
                                        </div>
                                        <div class="text-end">
                                            <h6 class="mb-0">$600</h6>
                                            <small class="mb-0">Onwards</small>
                                        </div>
                                   </div>
                                   <div class="feature-btn">
                                    <a href="javascript:void(0);" class="btn-white">Read More</a>
                                   </div>
                                </div>
                            </div>
                            <!-- firt-venus-end -->
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <!-- firt-venus-strat -->
                            <div class="book-bx">
                                <div class="book-media">
                                    <img src="../../../../assets/images/book/1.jpg" alt="">
                                    <div class="feature-badge">Feature</div>
                                </div>
                                <div class="book-content">
                                   <div class="d-flex align-items-center mb-3">
                                        <img src="../../../../assets/images/loaction.svg" class="me-2" alt="">
                                        <h6 class="mb-0">Pinkcity Sports Academy</h6>
                                        <div class="d-flex align-items-center ms-auto">
                                            <img src="../../../../assets/images/discount.svg" alt="">
                                            <h6 class="mb-0 ms-2">20% OFF</h6>
                                        </div>
                                        
                                   </div>
                                   <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <h6 class="mb-0">Rating</h6>
                                            <ul class="d-flex align-items-center">
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                            </ul>
                                        </div>
                                        <div class="text-end">
                                            <h6 class="mb-0">$600</h6>
                                            <small class="mb-0">Onwards</small>
                                        </div>
                                   </div>
                                   <div class="feature-btn">
                                    <a href="javascript:void(0);" class="btn-white">Read More</a>
                                   </div>
                                </div>
                            </div>
                            <!-- firt-venus-end -->
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <!-- firt-venus-strat -->
                            <div class="book-bx">
                                <div class="book-media">
                                    <img src="../../../../assets/images/book/1.jpg" alt="">
                                    <div class="feature-badge">Feature</div>
                                </div>
                                <div class="book-content">
                                   <div class="d-flex align-items-center mb-3">
                                        <img src="../../../../assets/images/loaction.svg" class="me-2" alt="">
                                        <h6 class="mb-0">Pinkcity Sports Academy</h6>
                                        <div class="d-flex align-items-center ms-auto">
                                            <img src="../../../../assets/images/discount.svg" alt="">
                                            <h6 class="mb-0 ms-2">20% OFF</h6>
                                        </div>
                                        
                                   </div>
                                   <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <h6 class="mb-0">Rating</h6>
                                            <ul class="d-flex align-items-center">
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                                <li><i class="fa-solid fa-star" style="color:#FFC107;"></i></li>
                                            </ul>
                                        </div>
                                        <div class="text-end">
                                            <h6 class="mb-0">$600</h6>
                                            <small class="mb-0">Onwards</small>
                                        </div>
                                   </div>
                                   <div class="feature-btn">
                                    <a href="javascript:void(0);" class="btn-white">Read More</a>
                                   </div>
                                </div>
                            </div>
                            <!-- firt-venus-end -->
                        </div>
                         <!-- third-row-end -->

                    </div>
                </div>
                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">

                </div>
                <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">...</div>
                <div class="tab-pane fade" id="contact-tab-pane-1" role="tabpanel" aria-labelledby="contact-tab-1" tabindex="0">...</div>
                
              </div>
        </div>
    </div>
    <div class="text-center">
        <a href="javascript:void(0);" class="btn-lg-white bg-dark text-white">Show More
            <img src="../../../../assets/images/svg/drodown.svg" alt="">
        </a>
    </div>
    

</section>
<!-- popular-menu-end -->
<!-- complex-cities-start -->
<section class="section-padding complex-bg-color position-relative">
    <div class="ball move-3 style-1">
        <img src="../../../../assets/images/3d-tannies.svg" alt="">
    </div>
    <div class="star spin  style-1">
        <img src="../../../../assets/images/Star 7.svg" alt="">
        </div>
    <div class="section-title">
        <h2>Top Sports Complexes in Cities</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quaerat minus eaque! Eligendi in hic deleniti beatae blanditiis sint.</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="complex-media">
                    <div class="roted-text">
                        <div class="hp-text-row hp-word-rotate-box">
                            <span class="hp-word-rotate"> Exploare More Complex Cities  </span>
                            
                        </div>
                    </div>
                   
                    <img src="../../../../assets/images/complex-img/1.png" alt="">
                    <svg class="title animation-text" viewBox="0 0 1320 300">
                        <text x="0" y="">Cricket</text>
                    </svg>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="complex-right-content wow animate__animated animate__fadeInUp">
                    <div class="accordion hp-accordion mb-3" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Jaipur
                            </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Sports Complexes in Jaipur | Badminton Courts in jaipur | Football Grounds in jaipur | Cricket Grounds in jaipur | Tennis Courts in jaipur | Basketball Courts in jaipur | Table Tennis Clubs in jaipur | Volleyball Courts in jaipur | Swimming Pools in jaipur |</p>
                            </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="accordion hp-accordion" id="accordionExample-1">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            Kota
                        </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample-1">
                        <div class="accordion-body">
                            <p>Sports Complexes in Jaipur | Badminton Courts in jaipur | Football Grounds in jaipur | Cricket Grounds in jaipur | Tennis Courts in jaipur | Basketball Courts in jaipur | Table Tennis Clubs in jaipur | Volleyball Courts in jaipur | Swimming Pools in jaipur |</p>
                        </div>
                        </div>
                    </div>
                    
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- complex-cities-end -->