 <!-- footer-strat -->
 <footer
 class="footer-section"
 style="
   background-image: url('../../../../assets/images/footer-bg.jpeg');
   background-size: cover;
   background-repeat: no-repeat;
 "
>
 <div class="container">
   <div class="footer-upper">
     <div class="row">
       <div class="col-lg-5 col-sm-9">
         <div class="logo-media-footer mb-4">
           <img src="../../../../assets/images/logo.png" alt="" />
         </div>
         <div class="footer-content">
           <h5 class="mb-3">Your Sports Community App</h5>
           <div class="d-inline-flex wow fadeInUp animated">
             <div
               class="main-dark-btn main-white-btn d-flex align-items-center me-3"
             >
               <img src="../../../../assets/images/play-stror.png" class="w-100" alt="" />
               <div class="ms-2">
                 <small>Get It On</small>
                 <p class="mb-0 font-w600">Google Play</p>
               </div>
             </div>
             <div
               class="main-dark-btn main-white-btn d-flex align-items-center"
             >
               <img src="../../../../assets/images/apple.png" class="w-100" alt="" />
               <div class="ms-2">
                 <small>Download on the</small>
                 <p class="mb-0 font-w600">Apple Store</p>
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="col-lg-2 col-sm-3">
         <div class="footer-link wow fadeInUp animated">
           <div>
             <h6 class="widget-title">Useful Links</h6>
             <li><a href="javascript:void(0);">Home</a></li>
             <li><a href="javascript:void(0);">About Us</a></li>
             <li><a href="javascript:void(0);">Contact Us</a></li>
             <li><a href="javascript:void(0);">Login</a></li>
             <li><a href="javascript:void(0);">Register</a></li>
           </div>
         </div>
       </div>
       <div class="col-lg-5">
         <div class="news-media-footer mt-lg-0 mt-4">
           <h5 class="text-lg-end text-center mb-3">
             Join Our Mailing List
           </h5>
           <div class="footer-serach wow fadeInUp animated">
             <div class="input-group flex-nowrap">
               <input
                 type="text"
                 class="form-control border-end-0"
                 placeholder="Search Here..."
               />
               <span
                 class="input-group-text border-start-0"
                 id="addon-wrapping"
                 ><svg
                   width="25"
                   height="25"
                   viewBox="0 0 25 25"
                   fill="none"
                   xmlns="http://www.w3.org/2000/svg"
                 >
                   <path
                     d="M23.2417 0.15775L0.609861 13.2144C-0.273928 13.7222 -0.161624 14.9527 0.717283 15.3238L5.90771 17.5015L19.936 5.13822C20.2046 4.89896 20.5854 5.26517 20.356 5.54349L8.59326 19.8745V23.8052C8.59326 24.9576 9.98486 25.4117 10.6685 24.5767L13.769 20.8023L19.853 23.3511C20.5464 23.6441 21.3374 23.2095 21.4644 22.4624L24.98 1.36869C25.146 0.38236 24.0864 -0.330531 23.2417 0.15775Z"
                     fill="white"
                   />
                 </svg>
               </span>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 <div class="footer-bottom">
   <h6 class="text-white">©2024 by QROSPORTS</h6>
   <ul class="d-flex align-items-center">
     <li>
       <a href="javascript:void(0);" class="social-icon"
         ><i class="fa-brands fa-facebook"></i
       ></a>
     </li>
     <li>
       <a href="javascript:void(0);" class="social-icon"
         ><i class="fab fa-google-plus-g"></i
       ></a>
     </li>
     <li>
       <a href="javascript:void(0);" class="social-icon"
         ><i class="fab fa-twitter"></i
       ></a>
     </li>
     <li>
       <a href="javascript:void(0);" class="social-icon"
         ><i class="fab fa-youtube"></i
       ></a>
     </li>
   </ul>
 </div>
</footer>
<!-- footer-end -->