
<div class="main-bnr complex-bg-color position-relative">
    <div class="banner-inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div class="banner-content">
              <h1 class="wow flipInX animated" data-wow-delay="0.5s">
                Yo, lets <br />
                <span class="mask2">Str</span>at a Game <br />toget<span
                  class="mask1"
                  >her</span
                >
              </h1>
              <div class="d-flex align-items-center">
                <img src="../../../assets/images/logo.png" class="me-2 move-1" alt="" />
                <h5 class="mb-0">
                  <span class="font-w600">Ready to start</span> the game
                  together
                </h5>
                <a href="javascript:void(0);" class="btn-sm ms-3">EASY</a>
              </div>
              <div class="banner-serach w-75 wow fadeInUp animated">
                <div class="input-group flex-nowrap" data-wow-delay="0.5s">
                  <input
                    type="text"
                    class="form-control border-end-0"
                    placeholder="Search Here..."
                  />
                  <span
                    class="input-group-text border-start-0"
                    id="addon-wrapping"
                  >
                    <img src="../../../assets/images/svg/search.svg" alt="" />
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div
              class="banner-media wow slideInRight"
              data-wow-delay="0.1s"
              data-wow-duration="1.5s"
            >
              <img src="../../../assets/images/banner-img/1.png" class="w-100" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- header-end -->
  <!-- categroies-section-strat -->
  <section class="section-padding cate-bg-color">
    <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
      <h2>Categories</h2>
      <p>
        A brief introduction to Venus Stadium, its significance, and its
        impact on the cricketing world.
      </p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="cate-media wow slideInLeft" data-wow-delay="0.1s">
            <img src="../../../assets/images/cate1.png" alt="" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="cate-right-bx">
            <h2>Stadium Cricket</h2>
            <p>
              With three 7-Vs-7 International standard 13 & 50 mm Turf ,
              PlayAll is one of the best  Cricket Ground in jaipur. With
              Amenities like Ample Parking and online bookings, we ensure
              that your Cricket experience is hassel free and awesome.
              Address - jaipur International School Sector 23 jaipur |
              Contact - 000000
            </p>

            <a href="javascript:void(0);" class="btn-lg-white">
              <span> Read More</span>
              Read More</a
            >
            <div class="cate-right-bottom-bx wow fadeInUp animated">
              <h4>Book via</h4>
              <div
                class="main-dark-btn d-flex align-items-center me-sm-3 me-1"
              >
                <img src="../../../assets/images/play-stror.png" alt="" />
                <div class="ms-2">
                  <small>Get It On</small>
                  <p class="mb-0 font-w600">Google Play</p>
                </div>
              </div>
              <div class="main-dark-btn d-flex align-items-center">
                <img src="../../../assets/images/apple.png" class="w-100" alt="" />
                <div class="ms-2">
                  <small>Download on the</small>
                  <p class="mb-0 font-w600">Apple Store</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-sm-5 mt-3">
        <div class="col-lg-6">
          <div class="cate-right-bx style-1">
            <h2>Box Cricket</h2>
            <p>
              With three 7-Vs-7 International standard 13 & 50 mm Turf ,
              PlayAll is one of the best  Cricket Ground in jaipur. With
              Amenities like Ample Parking and online bookings, we ensure
              that your Cricket experience is hassel free and awesome.
              Address - jaipur International School Sector 23 jaipur |
              Contact - 000000
            </p>

            <a href="javascript:void(0);" class="btn-lg-white"
              >Read More
              <span> Read More</span>
            </a>
            <div class="cate-right-bottom-bx wow fadeInUp animated">
              <h4>Book via</h4>
              <div class="main-dark-btn d-flex align-items-center me-3">
                <img src="../../../assets/images/play-stror.png" class="w-100" alt="" />
                <div class="ms-2">
                  <small>Get It On</small>
                  <p class="mb-0 font-w600">Google Play</p>
                </div>
              </div>
              <div class="main-dark-btn d-flex align-items-center">
                <img src="../../../assets/images/apple.png" class="w-100" alt="" />
                <div class="ms-2">
                  <small>Download on the</small>
                  <p class="mb-0 font-w600">Apple Store</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="cate-media">
            <img src="../../../assets/images/cate1.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- categroies-section-end -->
  <!-- venus-section-strat -->
  <section class="section-padding book-section">
    <div class="section-title wow fadeInUp animated">
      <h2>Book Ve<span class="mask1">nues</span></h2>
      <p>
        A brief introduction to Venus Stadium, its significance, and its
        impact on the cricketing world.
      </p>
    </div>
    <div class="ball move-3">
      <img src="../../../assets/images/3d-tannies.svg" alt="" />
    </div>
    <div class="star spin">
      <img src="../../../assets/images/Star 7.svg" alt="" />
    </div>
    <div class="container">
      <!-- Swiper -->
      <div class="swiper mySwiper wow fadeInUp animated">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="book-bx">
              <div class="book-media">
                <img src="../../../assets/images/book/1.jpg" alt="" />
                <div class="feature-badge">Feature</div>
              </div>
              <div class="book-content">
                <div class="d-flex align-items-center mb-3">
                  <img src="../../../assets/images/svg/location.svg" class="me-2" alt="" />

                  <h6 class="mb-0">Jaipur</h6>
                </div>
                <div
                  class="d-flex align-items-center justify-content-between"
                >
                  <div>
                    <h6 class="mb-0">Rating</h6>
                    <ul class="d-flex align-items-center">
                      <li><img src="../../../assets/images/book/star 2.png" alt="" /></li>
                      <li><img src="../../../assets/images/book/star 2.png" alt="" /></li>
                      <li><img src="../../../assets/images/book/star 2.png" alt="" /></li>
                      <li><img src="../../../assets/images/book/star 2.png" alt="" /></li>
                      <li><img src="../../../assets/images/book/star 2.png" alt="" /></li>
                    </ul>
                  </div>
                  <div class="text-end">
                    <h6 class="mb-0">$600</h6>
                    <small class="mb-0">Onwards</small>
                  </div>
                </div>
                <div class="feature-btn">
                  <a href="javascript:void(0);" class="btn-white"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="book-bx">
              <div class="book-media">
                <img src="../../../assets/images/book/1.jpg" alt="" />
                <div class="feature-badge">Feature</div>
              </div>
              <div class="book-content">
                <div class="d-flex align-items-center mb-3">
                  <img src="../../../assets/images/svg/location.svg" class="me-2" alt="" />

                  <h6 class="mb-0">Jaipur</h6>
                </div>
                <div
                  class="d-flex align-items-center justify-content-between"
                >
                  <div>
                    <h6 class="mb-0">Rating</h6>
                    <ul class="d-flex align-items-center">
                      <li><img src="../../../assets/images/book/star 2.png" alt="" /></li>
                      <li><img src="../../../assets/images/book/star 2.png" alt="" /></li>
                      <li><img src="../../../assets/images/book/star 2.png" alt="" /></li>
                      <li><img src="../../../assets/images/book/star 2.png" alt="" /></li>
                      <li><img src="../../../assets/images/book/star 2.png" alt="" /></li>
                    </ul>
                  </div>
                  <div class="text-end">
                    <h6 class="mb-0">$600</h6>
                    <small class="mb-0">Onwards</small>
                  </div>
                </div>
                <div class="feature-btn">
                  <a href="javascript:void(0);" class="btn-white"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="book-bx">
              <div class="book-media">
                <img src="../../../assets/images/book/1.jpg" alt="" />
                <div class="feature-badge">Feature</div>
              </div>
              <div class="book-content">
                <div class="d-flex align-items-center mb-3">
                  <img src="../../../assets/images/svg/location.svg" class="me-2" alt="" />

                  <h6 class="mb-0">Jaipur</h6>
                </div>
                <div
                  class="d-flex align-items-center justify-content-between"
                >
                  <div>
                    <h6 class="mb-0">Rating</h6>
                    <ul class="d-flex align-items-center">
                      <li><img src="../../../assets/images/book/star 2.png" alt="" /></li>
                      <li><img src="../../../assets/images/book/star 2.png" alt="" /></li>
                      <li><img src="../../../assets/images/book/star 2.png" alt="" /></li>
                      <li><img src="../../../assets/images/book/star 2.png" alt="" /></li>
                      <li><img src="../../../assets/images/book/star 2.png" alt="" /></li>
                    </ul>
                  </div>
                  <div class="text-end">
                    <h6 class="mb-0">$600</h6>
                    <small class="mb-0">Onwards</small>
                  </div>
                </div>
                <div class="feature-btn">
                  <a href="javascript:void(0);" class="btn-white"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="book-bx">
              <div class="book-media">
                <img src="../../../assets/images/book/1.jpg" alt="" />
                <div class="feature-badge">Feature</div>
              </div>
              <div class="book-content">
                <div class="d-flex align-items-center mb-3">
                  <img src="../../../assets/images/svg/location.svg" class="me-2" alt="" />

                  <h6 class="mb-0">Jaipur</h6>
                </div>
                <div
                  class="d-flex align-items-center justify-content-between"
                >
                  <div>
                    <h6 class="mb-0">Rating</h6>
                    <ul class="d-flex align-items-center">
                      <li><img src="../../../assets/images/book/star 2.png" alt="" /></li>
                      <li><img src="../../../assets/images/book/star 2.png" alt="" /></li>
                      <li><img src="../../../assets/images/book/star 2.png" alt="" /></li>
                      <li><img src="../../../assets/images/book/star 2.png" alt="" /></li>
                      <li><img src="../../../assets/images/book/star 2.png" alt="" /></li>
                    </ul>
                  </div>
                  <div class="text-end">
                    <h6 class="mb-0">$600</h6>
                    <small class="mb-0">Onwards</small>
                  </div>
                </div>
                <div class="feature-btn">
                  <a href="javascript:void(0);" class="btn-white"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="book-bx">
              <div class="book-media">
                <img src="../../../assets/images/book/1.jpg" alt="" />
                <div class="feature-badge">Feature</div>
              </div>
              <div class="book-content">
                <div class="d-flex align-items-center mb-3">
                  <img src="../../../assets/images/svg/location.svg" class="me-2" alt="" />

                  <h6 class="mb-0">Jaipur</h6>
                </div>
                <div
                  class="d-flex align-items-center justify-content-between"
                >
                  <div>
                    <h6 class="mb-0">Rating</h6>
                    <ul class="d-flex align-items-center">
                      <li><img src="../../../assets/images/book/star 2.png" alt="" /></li>
                      <li><img src="../../../assets/images/book/star 2.png" alt="" /></li>
                      <li><img src="../../../assets/images/book/star 2.png" alt="" /></li>
                      <li><img src="../../../assets/images/book/star 2.png" alt="" /></li>
                      <li><img src="../../../assets/images/book/star 2.png" alt="" /></li>
                    </ul>
                  </div>
                  <div class="text-end">
                    <h6 class="mb-0">$600</h6>
                    <small class="mb-0">Onwards</small>
                  </div>
                </div>
                <div class="feature-btn">
                  <a href="javascript:void(0);" class="btn-white"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- bookvenus section-end -->
  <!-- hp-slider-strat -->
  <section class="overflow-hidden">
    <div class="hp_features-wrapper overflow-hidden">
      <ul class="hp_features text-wrapper">
        <li class="item">
          <h2 class="title">Cricket</h2>
        </li>
        <li class="item">
          <svg
            width="58"
            height="55"
            viewBox="0 0 58 55"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              opacity="0.3"
              d="M29.0828 0.60791L36.6652 20.1716L57.6145 21.3374L41.3514 34.5942L46.7163 54.8784L29.0828 43.5079L11.4492 54.8784L16.8141 34.5942L0.551067 21.3374L21.5003 20.1716L29.0828 0.60791Z"
              fill="#FF782C"
              fill-opacity="0.87"
            />
          </svg>
        </li>
        <li class="item">
          <h2 class="title outline-text">Cricket</h2>
        </li>
        <li class="item">
          <svg
            width="58"
            height="55"
            viewBox="0 0 58 55"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              opacity="0.3"
              d="M29.0828 0.60791L36.6652 20.1716L57.6145 21.3374L41.3514 34.5942L46.7163 54.8784L29.0828 43.5079L11.4492 54.8784L16.8141 34.5942L0.551067 21.3374L21.5003 20.1716L29.0828 0.60791Z"
              fill="#FF782C"
              fill-opacity="0.87"
            />
          </svg>
        </li>
        <li class="item">
          <h2 class="title">Cricket</h2>
        </li>
        <li class="item">
          <svg
            width="58"
            height="55"
            viewBox="0 0 58 55"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              opacity="0.3"
              d="M29.0828 0.60791L36.6652 20.1716L57.6145 21.3374L41.3514 34.5942L46.7163 54.8784L29.0828 43.5079L11.4492 54.8784L16.8141 34.5942L0.551067 21.3374L21.5003 20.1716L29.0828 0.60791Z"
              fill="#FF782C"
              fill-opacity="0.87"
            />
          </svg>
        </li>
        <li class="item">
          <h2 class="title outline-text">Cricket</h2>
        </li>
        <li class="item">
          <svg
            width="58"
            height="55"
            viewBox="0 0 58 55"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              opacity="0.3"
              d="M29.0828 0.60791L36.6652 20.1716L57.6145 21.3374L41.3514 34.5942L46.7163 54.8784L29.0828 43.5079L11.4492 54.8784L16.8141 34.5942L0.551067 21.3374L21.5003 20.1716L29.0828 0.60791Z"
              fill="#FF782C"
              fill-opacity="0.87"
            />
          </svg>
        </li>
        <li class="item">
          <h2 class="title">Cricket</h2>
        </li>
        <li class="item">
          <svg
            width="58"
            height="55"
            viewBox="0 0 58 55"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              opacity="0.3"
              d="M29.0828 0.60791L36.6652 20.1716L57.6145 21.3374L41.3514 34.5942L46.7163 54.8784L29.0828 43.5079L11.4492 54.8784L16.8141 34.5942L0.551067 21.3374L21.5003 20.1716L29.0828 0.60791Z"
              fill="#FF782C"
              fill-opacity="0.87"
            />
          </svg>
        </li>
        <li class="item">
          <h2 class="title outline-text">Cricket</h2>
        </li>
        <li class="item">
          <svg
            width="58"
            height="55"
            viewBox="0 0 58 55"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              opacity="0.3"
              d="M29.0828 0.60791L36.6652 20.1716L57.6145 21.3374L41.3514 34.5942L46.7163 54.8784L29.0828 43.5079L11.4492 54.8784L16.8141 34.5942L0.551067 21.3374L21.5003 20.1716L29.0828 0.60791Z"
              fill="#FF782C"
              fill-opacity="0.87"
            />
          </svg>
        </li>
        <li class="item">
          <h2 class="title">Cricket</h2>
        </li>
        <li class="item">
          <svg
            width="58"
            height="55"
            viewBox="0 0 58 55"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              opacity="0.3"
              d="M29.0828 0.60791L36.6652 20.1716L57.6145 21.3374L41.3514 34.5942L46.7163 54.8784L29.0828 43.5079L11.4492 54.8784L16.8141 34.5942L0.551067 21.3374L21.5003 20.1716L29.0828 0.60791Z"
              fill="#FF782C"
              fill-opacity="0.87"
            />
          </svg>
        </li>
        <li class="item">
          <h2 class="title outline-text">Cricket</h2>
        </li>
        <li class="item">
          <svg
            width="58"
            height="55"
            viewBox="0 0 58 55"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              opacity="0.3"
              d="M29.0828 0.60791L36.6652 20.1716L57.6145 21.3374L41.3514 34.5942L46.7163 54.8784L29.0828 43.5079L11.4492 54.8784L16.8141 34.5942L0.551067 21.3374L21.5003 20.1716L29.0828 0.60791Z"
              fill="#FF782C"
              fill-opacity="0.87"
            />
          </svg>
        </li>
        <li class="item">
          <h2 class="title">Cricket</h2>
        </li>
        <li class="item">
          <svg
            width="58"
            height="55"
            viewBox="0 0 58 55"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              opacity="0.3"
              d="M29.0828 0.60791L36.6652 20.1716L57.6145 21.3374L41.3514 34.5942L46.7163 54.8784L29.0828 43.5079L11.4492 54.8784L16.8141 34.5942L0.551067 21.3374L21.5003 20.1716L29.0828 0.60791Z"
              fill="#FF782C"
              fill-opacity="0.87"
            />
          </svg>
        </li>
        <li class="item">
          <h2 class="title outline-text">Cricket</h2>
        </li>
        <li class="item">
          <svg
            width="58"
            height="55"
            viewBox="0 0 58 55"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              opacity="0.3"
              d="M29.0828 0.60791L36.6652 20.1716L57.6145 21.3374L41.3514 34.5942L46.7163 54.8784L29.0828 43.5079L11.4492 54.8784L16.8141 34.5942L0.551067 21.3374L21.5003 20.1716L29.0828 0.60791Z"
              fill="#FF782C"
              fill-opacity="0.87"
            />
          </svg>
        </li>
      </ul>
    </div>
  </section>
  <!-- hp-slider-end -->
  <!-- complex-cities-start -->
  <section class="section-padding complex-bg-color position-relative">
    <div class="ball style-1 move-3">
      <img src="../../../assets/images/3d-tannies.svg" alt="" />
    </div>
    <div class="star style-1 spin">
      <img src="../../../assets/images/Star 7.svg" alt="" />
    </div>
    <div class="section-title">
      <h2>Top Sports Complexes in Cities</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
        quaerat minus eaque! Eligendi in hic deleniti beatae blanditiis
        sint.
      </p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="complex-media">
            <div class="roted-text">
              <div class="hp-text-row hp-word-rotate-box">
                <span class="hp-word-rotate">
                  Exploare More Complex Cities
                </span>
              </div>
            </div>

            <img src="../../../assets/images/complex-img/1.png" alt="" />
            <svg class="title animation-text" viewBox="0 0 1320 300">
              <text x="0" y="">Cricket</text>
            </svg>
          </div>
        </div>
        <div class="col-lg-7">
          <div
            class="complex-right-content wow animate__animated animate__fadeInUp"
          >
            <div class="accordion hp-accordion mb-3" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Jaipur
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse show"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>
                      Sports Complexes in Jaipur | Badminton Courts in
                      jaipur | Football Grounds in jaipur | Cricket Grounds
                      in jaipur | Tennis Courts in jaipur | Basketball
                      Courts in jaipur | Table Tennis Clubs in
                      jaipur | Volleyball Courts in jaipur | Swimming Pools
                      in jaipur |
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion hp-accordion" id="accordionExample-1">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="true"
                    aria-controls="collapseTwo"
                  >
                    Kota
                  </button>
                </h2>
                <div
                  id="collapseTwo"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionExample-1"
                >
                  <div class="accordion-body">
                    <p>
                      Sports Complexes in Jaipur | Badminton Courts in
                      jaipur | Football Grounds in jaipur | Cricket Grounds
                      in jaipur | Tennis Courts in jaipur | Basketball
                      Courts in jaipur | Table Tennis Clubs in
                      jaipur | Volleyball Courts in jaipur | Swimming Pools
                      in jaipur |
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- complex-cities-end -->
  <!--video-sections -->
  <section
    class="section-padding bg-image p-0 vh-100"
    style="
      background-image: url('../../../assets/images/bg1.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    "
  >
    <div class="container">
      <div
        class="d-flex justify-content-center vh-100 flex-column align-items-center"
      >
        <a
          class="hp-icon-button popup-video"
          href="https://www.youtube.com/watch?v=05sG-ygIWhY"
        >
          <div class="hp-text-row hp-word-rotate-box border-white">
            <span class="hp-word-rotate">Play Play Play Play </span>
            <svg
              class="hp-svg"
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              viewBox="0 0 40 40"
              fill="none"
            >
              <g clip-path="url(#clip0_671_345)">
                <path
                  d="M34.6779 15.3843L11.0529 0.821429C9.34369 -0.230839 7.2772 -0.274589 5.52493 0.704398C3.77266 1.68323 2.72656 3.46612 2.72656 5.47323V34.4664C2.72656 37.5013 5.17188 39.9835 8.17735 39.9999C8.18556 39.9999 8.19376 40 8.20181 40C9.14103 39.9999 10.1198 39.7056 11.0339 39.1478C11.7693 38.6991 12.0017 37.7392 11.5531 37.0039C11.1044 36.2685 10.1444 36.0361 9.40923 36.4848C8.98165 36.7456 8.56407 36.8805 8.19415 36.8804C7.06016 36.8742 5.84602 35.9028 5.84602 34.4665V5.47331C5.84602 4.6123 6.29477 3.84769 7.04634 3.42776C7.79798 3.00784 8.68431 3.02659 9.41658 3.47745L33.0417 18.0404C33.7518 18.4776 34.1581 19.2065 34.1564 20.0405C34.1547 20.8743 33.7454 21.6016 33.0314 22.0373L15.9503 32.4958C15.2156 32.9456 14.9847 33.9059 15.4346 34.6405C15.8843 35.3752 16.8446 35.6061 17.5792 35.1563L34.6583 24.6991C36.2935 23.7015 37.2721 21.9624 37.276 20.0467C37.2799 18.1312 36.3083 16.3881 34.6779 15.3843Z"
                  fill="#fff"
                />
              </g>
              <defs>
                <clipPath id="clip0_671_345">
                  <rect width="40" height="40" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </section>
  <!-- video-section-end -->
  <!-- blog-section-start -->
  <section class="section-padding blog-bg-color">
    <div class="ball style-2 move-3">
      <img src="../../../assets/images/3d-tannies.svg" alt="" />
    </div>
    <div class="star spin style-2">
      <svg
        width="61"
        height="61"
        viewBox="0 0 61 61"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          opacity="0.3"
          d="M28.9817 0.0467651L36.5426 12.6064L50.4887 8.08788L46.954 22.3152L60.0104 28.9815L47.4508 36.5423L51.9693 50.4884L37.742 46.9538L31.0757 60.0102L23.5149 47.4506L9.56876 51.9691L13.1034 37.7418L0.0469849 31.0755L12.6066 23.5146L8.0881 9.56854L22.3154 13.1032L28.9817 0.0467651Z"
          fill="#FF782C"
          fill-opacity="0.87"
        />
      </svg>
    </div>
    <div class="section-title">
      <h2>Blogs to Keep You Fit!</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione
        exercitationem veniam vitae necessitatibus dolor earum aperiam
      </p>
    </div>
    <div class="container">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="book-bx style-1">
              <div class="book-media">
                <img src="../../../assets/images/blog/1.jpg" alt="" />
                <div class="feature-badge">Club</div>
              </div>
              <div class="book-content">
                <h5>5 moments that will take your breath away</h5>
                <p>
                  Jaipur: Modern sports facilities, vibrant community hubs,
                  fostering athletic excellence.
                </p>
                <a href="javascript;void(0);" class="text-orange font-w500"
                  >Nov 12th 2024</a
                >
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="book-bx style-1">
              <div class="book-media">
                <img src="../../../assets/images/blog/2.jpg" alt="" />
                <div class="feature-badge">Club</div>
              </div>
              <div class="book-content">
                <h5>5 moments that will take your breath away</h5>
                <p>
                  Jaipur: Modern sports facilities, vibrant community hubs,
                  fostering athletic excellence.
                </p>
                <a href="javascript;void(0);" class="text-orange font-w500"
                  >Nov 12th 2024</a
                >
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="book-bx style-1">
              <div class="book-media">
                <img src="../../../assets/images/blog/3.jpg" alt="" />
                <div class="feature-badge">Club</div>
              </div>
              <div class="book-content">
                <h5>5 moments that will take your breath away</h5>
                <p>
                  Jaipur: Modern sports facilities, vibrant community hubs,
                  fostering athletic excellence.
                </p>
                <a href="javascript;void(0);" class="text-orange font-w500"
                  >Nov 12th 2024</a
                >
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="book-bx style-1">
              <div class="book-media">
                <img src="../../../assets/images/blog/1.jpg" alt="" />
                <div class="feature-badge">Club</div>
              </div>
              <div class="book-content">
                <h5>5 moments that will take your breath away</h5>
                <p>
                  Jaipur: Modern sports facilities, vibrant community hubs,
                  fostering athletic excellence.
                </p>
                <a href="javascript;void(0);" class="text-orange font-w500"
                  >Nov 12th 2024</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- blog-section-end -->
  <!-- instagram-post-strat -->
  <div class="container-fluid px-0" style="position: relative">
    <div class="imagegroup">
      <div><img src="../../../assets/images/instagram-img/1.jpeg" alt="" /></div>
      <div><img src="../../../assets/images/instagram-img/2.jpeg" alt="" /></div>
      <div><img src="../../../assets/images/instagram-img/3.jpeg" alt="" /></div>
      <div><img src="../../../assets/images/instagram-img/4.jpeg" alt="" /></div>
    </div>
    <button class="instagrambtn">
     <img src="../../../assets/images/svg/instagram.svg" alt="">
      Follow me
    </button>
  </div>
  <!-- instagrame-post-end -->