a {
    text-decoration: none !important;
}

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
     outline: none !important; 
     outline:none !important; 
     outline-offset: 0px !important 
}
.nav-link a.active {
    color: #fff ;
}

.nav-link > ul > li >a {
    color: #fff;
}